.alemanha .barra{
    height: 33.333%;
}

.alemanha .vermelha{
    background-color: #ee0000;
}
.alemanha .preta{
    background-color: #000;
    
}
.alemanha .amarela{
    background-color: #ffd900;

}
