.verde {
    width: 100%;
    height: 100%;
    background: #00A859;
    position: relative;
    font-size: 20px
}

.amarelo-top {
    width: 1px;
    height: 1px;
    border: solid 8.3em transparent;
    border-bottom: solid 5.3em #FFCC29;
    border-top-width: 0;
    position: absolute;
    top: 7.26%;
    left: 8%;
}

.amarelo-bottom {
    width: 1px;
    height: 1px;
    border: solid 8.3em transparent;
    border-top: solid 5.3em #FFCC29;
    border-bottom-width: 0;
    position: absolute;
    bottom: 7.26%;
    left: 8%;
}

.azul-bg {
    width: 7em;
    height: 7em;
    background: #3E4095;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 3.5em);
    left: calc(50% - 3.5em);
    overflow: hidden;
}

.faixa-branca {
    width: 17em;
    height: 17em;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 2em;
    left: -7em;
}

.azul-bottom {
    width: 16em;
    height: 16em;
    background: #3E4095;
    border-radius: 50%;
    position: absolute;
    top: 2.5em;
    left: -6.5em;
}

.stars li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #FFF;
    position: absolute;
}

.stars li:before {content: "★";}
.star-1:before {font-size: 0.3em;}
.star-2:before {font-size: 0.25em;}
.star-3:before {font-size: 0.2em;}
.star-4:before {font-size: 0.14em;}
.star-5:before {font-size: 0.1em;}

#procion {top: 2.15em; left: .5em}
#alphard {top: 2.85em; left: 2em}
#muliphen {top: 3.3em; left: 1.2em}
#sirio {top: 3.6em ; left: .8em}
#mirzam {top: 3.9em; left: 0.46em}
#wezen {top: 3.92em; left: 1.52em}
#adhara {top: 4.25em; left: 1.43em}
#canopus {top:4.65em ; left:1.9em }
#gracus {top:3.3em ; left:3.4em }
#palida {top:3.63em ; left:2.95em }
#intrometida {top:3.8em ; left:3.23em }
#mimosa {top:3.61em ; left:3.72em }
#acrux {top:4.35em ; left:3.37em }
#polaris-australis {top:5.4em ; left:3.45em }
#tra-1 {top:4.66em ; left: 4.13em}
#atria {top:5.11em ; left:4.39em }
#tra-2 {top:4.76em ; left:4.74em }
#apollyon {top:5.38em ; left:5.15em }
#sargas {top:5.03em ; left:5.13em }
#denebakrab {top:4.67em ; left:5.15em }
#girtab {top:4.67em ; left:5.48em }
#shaula {top:4.54em ; left:5.8em }
#wei {top:4.27em ; left:5.95em }
#antares {top:3.95em ; left:5.8em }
#graffias {top:3.94em ; left:6.35em }
#dhanab-al-shuja {top: 2.47em; left: 4.22em}
#spica {top: 1.5em; left: 4.43em }
