/* FINLANDIA */

.finlandia{
    background: #fff;
}

.finlandia .barra{
    height: 33.3333%;
}

.finlandia .azul{
    background: #1e0982;
}

.finlandia .barra .bloco{
    margin-left: 20%;
    height: 100%;
    width: 20%;
}




