/* França */
.franca{
    background: #fff;
}

.franca .coluna{
    /* display: inline-block; */
    float: left;
    height: 100%;
    width: 33.333%;
}

.franca .azul{
    background: #061e98;
}

.franca .vermelho{
    background: #e52c32;
}
