/* GRECIA */
.grecia{
    background: #fff;
}

.grecia .azul{
    background: #0d5eaf;
 }
 .grecia .quadrado{
    display: inline-block;
    width: calc(100% /14);
    height: 100%;
}

.grecia .linha{
    display: flex;
    width: 100%;
    height: calc(100% / 9);
}

.grecia .preencher{
    display: inline-block;
    width: calc(100% - (5 * calc(100% /14)));
    height: 100%;
}

.grecia .linha-inteira{
    width: 100%;
    height: 100%;
}
