/* ISLANDIA */

.islandia .barra{
    width: 100%;
}

.islandia .barra.maior{
    height: 39%;
}

.islandia .barra.menor{
    height: 22%;
}

.islandia .listra{
    position: relative;
    height: 25%;
}

.islandia .espera{
    float: left;
    height: 100%;
    width: 4%;
}

.islandia .bloco{
    float: left;
    width: 28%;
    height: 100%;
}

.islandia .bloquinho{
    margin-left: 32%;
    height: 100%;
    width: 8%;
}

.islandia .azul{
    background: #02529c;
}

.islandia .vermelho{
    background: #dc1e35;
}

.islandia .branco{
    background: #fff;
}