/* JAPAO */

.japao{
    background: #fff;
}

.japao .barra.menor{
    height: 20%;
    width: 100%;
}

.japao .barra.maior{
    height: 60%;
    width: 100%;
}

.japao .table-cell{
    /* display: table-cell; */
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.japao .redondo{
    margin: 0 auto;
    background: #ee0000;
    width: 40%;
    height: 100%;
    border-radius: 100%;
}
