/* LIBANO */
.libano{
    background: #fff;
}

.libano .barra{
    width: 100%;
}

.libano .barra.vermelha{
    background: #ee0000;
    height: 25%;
}

.libano .barra.branca{
    background: #fff;
    height: 50%;
    text-align: center;
}

.libano img{
    height: 100%;
}
