/* Mexico */
.mexico{
    background: #fff;
}

.mexico .coluna{
    /* display: inline-block; */
    float: left;
    height: 100%;
    width: 33.333%;
    text-align: center;
}

.mexico .coluna.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mexico img{
    width: 80%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
}

.mexico .verde{
    background: rgb(0, 104, 71);
}

.mexico .vermelho{
    background: rgb(206, 27, 38);
}
