body{
    background: #333;
    /* margin: 30px 0; */
    display: flex;
  align-items: center;
}

.container{
    max-width: 1330px;
    min-width: 300px;
    margin: 0 auto;
    
}

.bandeira{
    float: left;
    width: 400px;
    height: 250px;
    transition: all 0.3s ease-in-out;
    margin: 20px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.1);
}

.bandeira:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 30px rgba(0,0,0,0.7);
}

.escuro-bandeira{
    position: absolute;
    width: 400px;
    height: 250px;
    opacity: 0;
    transition: all 0.3s;
    background: rgba(0,0,0,0.7);
    z-index: 900;
    display: table-cell;
    cursor: pointer;
}

.bandeira:hover .escuro-bandeira{
    opacity: 1;
}

.titulo-bandeira{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
    padding: 35px;
    font-size: 20px;
}

.escuro{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.9);
    z-index: 1000;
    display: none; 
    opacity: 0;
    transition: all 0.5s;
}

.modal{
    background: #fefefefe;
    position: fixed;
    padding: 15px;
    z-index: 1001;
    width: 50vw;
    min-height: calc(60vh - 30px);
    top: -60vh;
    left: calc(50% - 25vw);
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.5);
    transition: all 0.5s;
    display: none;
    opacity: 0;
}

.fechamento{
    font-size: 30px;
    color: #555;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.fechamento:hover{
    color: #777;
}

.times{
    position: absolute;
    right: 15px;
    top: 10px;
}

.modal-corpo{
    height: 100%;
    width: 100%;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.titulo{
    /* font-size: 70px; */
    font-size: 240%;
    font-weight: 900;
    cursor: default;
}

.area-relogio{
    font-family: digital-clock-font;
    font-size: 100px;
    margin: 0 auto;
    padding: 50px 20px;
    cursor: default;
}

.relogio{
    display: inline-block;
    padding: 10px 70px;
    border-radius: 20px;
    background: #111;
    color: #00ff00;
    text-shadow: 0px 0px 12px rgb(0,255,0);
    min-width: 320px;
}

.relogio-bandeira{
    font-family: digital-clock-font;
    text-align: center;
    display: block;
    color: #00ff00;
    text-shadow: 0px 0px 12px rgb(0,255,0);
}

.reloginho{
    display: inline-block;
    font-size: 80px;
    padding: 10px 15px;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
}

.area-calendario{
    font-size: 35px;
    font-weight: bolder;
    padding: 30px;
    cursor: default;
}

.area-textinho{
    /* font-size: 30px; */
    font-size: 120%;
    padding: 30px;
}

.menuzin{
    position: fixed;
    right: 30px;
    bottom: 30px;
    min-height: 120px;
    width: 60px;
    border-radius: 5%;
    background: #aaa;
    border: 2px solid #444;
    z-index: 999;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.9);
    font-size: 40px;
    text-align: center;
    line-height: 67px;
    padding: 9px;
    cursor: pointer;
}


@font-face{
    font-family:'digital-clock-font';
    src: url('../font/digital-7.ttf');
   }
