/* GRECIA */

/* 1e0982 */
/* fff */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.azul{
   background: #1e0982;
}

.quadrado{
    display: inline-block;
    width: 100px;
    height: calc(100vh / 9);
}

.linha{
    display: flex;
    width: 100%;
    height: calc(100vh / 9);
}

.preencher{
    display: inline-block;
    width: calc(100% - 500px);
    height: calc(100vh / 9);
}

.linha-inteira{
    width: 100%;
    height: calc(100vh / 9);
}