/* ALEMANHA */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.barra{
    height: 33.333%;
}

.vermelha{
    background-color: #ee0000;
}
.preta{
    background-color: #000;
    
}
.amarela{
    background-color: #ffd900;

}
