body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.barra-vermelha{
    background: #ee0000;
    width: 100%;
    height: 20%;
}

.barra-branca{
    background: #fff;
    height: 60%;
    text-align: center;
}

.barra-branca img{
    position: relative;
    height: 94%;
    margin: 20px auto;
}