.cores{
    /* ROSINHA */
    color: #d11891;
    /* AMARELO */
    color: #ffaf00;
    /* VERMELHO */
    color: #ff3820;
    /* VERDE */
    color: #c2ce00;
    /* LARANJINHA */
    color: #ff7510;

}