.campo-de-busca {
  position: fixed;
  left: 15px;
  top: 100px;
}

.campo-de-busca input{
  padding: 10px 15px;
  border-radius: 5px;
}

.campo-de-busca button{
  margin-left: 5px;
  padding: 10px 15px;
  border-radius: 5px;

}

.campo-de-busca button:focus,
.campo-de-busca input:focus {
  outline: none;
  box-shadow: 0 0 3pt 1pt rgba(0, 162, 255, 0.425);
}

.campo-de-busca button:hover{
  
}
