.titulo{
  padding-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba( 0, 0, 0, 1);
}

.lista-detalhe{
}

p{
  margin-top: 7px;
  margin-bottom: 7px;
  max-width: 600px;
  text-align: justify;
}

img {
  box-shadow: 2px 2px 30px rgba( 0, 0, 0, 0.2);
}

.bloco-lista{
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba( 0, 0, 0, 0.2);
  width: 700px;
  background: #444;
  text-align: left;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bolder{
  font-weight: bolder;
  display: inline;
}
