.bloco-ep {
  text-decoration: none;
  width: 450px;
  height: 250px;
  border: 2px solid #222;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
  margin: 15px auto;
}

.bloco-ep:hover{
  transform: scale(1.05);
  box-shadow: 2px 2px 30px rgba( 0, 0, 0, 0.9);
}

.escuro-ep {
  position: absolute;
  width: 450px;
  height: 250px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bloco-ep:hover .escuro-ep{
  opacity: 1;
}

.nome-ep{
  padding-top: 30px;
  color: #fff;
}

.nota-ep{
  color: #fff;
}

.barra-baixo {
  height: 40px;
  width: 100%;
  background: #000000a2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
}

.bloco-ep:hover .barra-baixo{
  animation: aumentar 0.9s forwards;
}

@keyframes aumentar {
  from {
    transform: rotate3d(1,0,0, 90deg);
    transform-origin: center bottom;
  } 
  to {
    transform: rotate3d(0,0,0, 50deg);
    transform-origin: center bottom;
  }
}
