header.header-mirror {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background: #101010;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.6);
  z-index: 500;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: center;
  line-height: 24px;
}

.header-logo {
  height: 80px;
  animation: balancar;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.header-mirror ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.header-mirror ul li {
  margin: 0 6px;
}

.header-mirror ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  padding: 12px 17px;
  border-radius: 5px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.header-mirror ul li a:hover {
  background: #ccc;
  color: #101010;
}

@keyframes balancar {
  from {
    transform: rotate(-2deg)
  }

  to {
    transform: rotate(2deg)
  }
}
