body{
    margin: 0;
    padding: 0;
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    background: url('../img/background.jpg');
    background-attachment: local;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco{
    padding: 30px 20px;
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 32px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    animation: aparecer 0.5s forwards;
}

.linha{
    margin: 7px 0;
}

.linha.separada{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.linha a{
    font-size: 11px;
    text-decoration: none;
    color: #007;
}

.input-default{
    border-radius: 5px;
    padding: 6px 5px;
    box-shadow: 0.5px 0.5px 5px 1px rgba(0,0,0,0.5);
    border: none;
    min-width: 250px;
}

.linha label{

}
.conectado{
    font-size: 12px;
    
}

button{
    padding: 5px 15px;
    border-radius: 30px;
    background: rgba(0,0,0,0);
    border: 2px solid black;
    transition: background 0.3s, color 0.3s;
    outline: none;
    cursor: pointer;
}

button:hover{
    background: #000;
    color: #fff;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}