.mensagem{
  position: fixed;
  width: 200px;
  min-height: 40px;
  transition: all 0.7s;
  top: 15px;
  right: 15px;
  animation: aparecer 0.5s;
  padding: 5px 7px 14px;
  text-align: left;
}

.mensagem.sucesso{
  /* background: rgb(0, 153, 255); */
  background: rgb(8, 211, 1);
  color: #ffffff;
  padding-bottom: 14px;
}

.msg-titulo{
  font-size: 19px;
  font-weight: 700;
}

.msg-msg{
  font-size: 15px;
}

.barrinha{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgb(19, 93, 0);
}

@keyframes aparecer {
  from{
    /* right: -200px; */
    opacity: 0;
  }

  to{
    /* right: 15px; */
    opacity: 1;
  }
}
