/* JAPAO */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: table;
}

.table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    animation: appear 1.5s;
}

.redondo{
    background: #ee0000;
    width: 460px;
    height: 460px;
    border-radius: 1000px;
    margin: 0 auto;
}