/* FINLANDIA */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* 1e0982 */

.barra-vertical{
    position: fixed;
    background-color: #1e0982;
    width: 250px;
    height: 100vh;
    left: calc(25% - 125px);
}

.barra-horizontal{
    background-color: #1e0982;
    position: fixed;
    width: 100%;
    height: 250px;
    top: calc(50% - 125px);
}