/* FLEX */

.container{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.col{
    height: 200px;

}

.col-1{
    width: 30%;
    background: red;
}

.col-2{
    width: 50%;
    background: green;
}

.col-3{
    width: 20%;
    background: blue;
}

@media (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .col{
        width: 100%;
    }
}