/* BUTTON */

.button{
    color: white;
    font-weight: 400;
    font-size: 25px;
    background-color: rgba(0,0,0,0.0);
    border: 2.3px solid white;
    border-radius: 25px;
    padding: 10px 35px;
    transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    /* text-transform: uppercase; */
}

.button:nth-of-type(even){
    margin-left: 25px;
}

.banner .button:hover{
    /* color: #09A9F6; */
    color: #ff7510;
    background: #fff;
}

.button-secondary{
    color: #ff7510;
    border: 2.3px solid #ff7510;
    border-radius: 25px;
    font-weight: 400;
    font-size: 20px;
    transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    padding: 10px 35px;
}

.button-right{
    float: right;
}

.button-secondary:hover{
    color: #fff;
    background: #ff7510;
}

.button-secondary-inverted{
    color: #fff;
    background: #ff7510;
}
.button-secondary-inverted:hover{
    color: #ff7510;
    background: #fff;
}
