/* DIVERTIR */

.bloco-diversao{
    padding-top: 30px;
    padding-bottom: 35px;
}

.bloco-diversao a,
.bloco-diversao h2{
    text-align: center;  
}

.bloco-diversao img{
    width: 200px;
    margin-bottom: 5px;
}

.bloco-diversao h2{
    margin-bottom: 25px;
}

@media (max-width: 991px){
    .bloco-diversao h2{
        font-size: 26px;
    }
}