/* HEADER */

footer{
    background-color: #222;
    color: #eee;
    padding: 30px 0 10px;
    text-align: center;
}

footer li.item{
    text-align: center;
    width: 25%;
}

footer li.item a{
    padding: 20px 15px;
    color: #ff7510;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.4s;
    
}

footer li.item a:hover{
    color: #bb5308;
    
}

footer p{
    padding-top: 30px;
}