/* GERAL */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
}

a{
    text-decoration: none !important;
}

.full-height{
    /* min-height: calc(100vh - 274px); */
    min-height: calc(100vh - 288px);    
}

.down-header{
    /* padding-top: 121px; */
    padding-top: 135px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.alinhar-texto-central{
    text-align: center;
}

.bloco{
    background: #fff;
    padding: 21px 21px 19px;
    border-radius: 5px;
    box-shadow: 0px 0px 26px rgba(0,0,0,0.4);
}

.margem-15{
    margin-bottom: 15px;
}

.margem-30{
    margin-bottom: 30px;
}

.coluna{
    width: 50%;
    float: left;
    padding: 10px; 
}

.sec-padding{
    padding-top: 30px; 
    padding-bottom: 30px;
}

.fundo{
    background: -moz-linear-gradient(-45deg, #ffaf00 0%, #ff3820 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffaf00 0%,#ff3820 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffaf00 0%,#ff3820 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.small-devices{
    display: none;
}

.big-devices{
    display: block;
}

@media (max-width: 783px){
    .small-devices{
        display: inline-block;
    }

    .big-devices{
        display: none !important;
    }
}

@media (max-width: 767.98px){
    .coluna{
        width: 100%;
    }
}
