/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 15px;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none !important;
}

header li.item{
    text-align: center;
    width: 20%;
}


header li.item a{
    padding: 20px 15px;
    color: #ff7510;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.4s;
}

header li.item a:hover{
    color: #bb5308;
}

.header-logo{
    position: relative;
    width: 60px;
    z-index: 101;
    transform: scale(2);
}

@media (max-width: 768px){
    .item-desaparece{
        display: none;
    }

    header li.item{
        width: 25%;
    }
    
    header li.item a{
        padding: 0;
    }

}