/* HOME */

.table{
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    animation: appear 1.5s;
}

.banner{
    position: relative;
    height: 100vh;
    color: #fff;
    background-image: url('../img/img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;
    background: -moz-linear-gradient(-45deg, #ffaf00 0%, #ff3820 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffaf00 0%,#ff3820 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffaf00 0%,#ff3820 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 0;
}

.banner .table{
    position: relative;
    z-index: 2;
}

.banner-title{
    text-shadow: 0px 0px 30px rgba(0,0,0,0.6);
    margin-bottom: 20px;
    font-size: 54px;
    font-weight: 600;

}

.banner-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    margin: 0 auto 40px;
    max-width: 980px;
    font-size: 18px;
    font-weight: 600;
}

.bloco-titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 736px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.parte-1{
    position: relative;
    font-size: 84px;
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(0,0,0,0.6);
}

.parte-1.dir{
    /* left: 10px;    */
}

.parte-2{
    font-size: 35px;
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(0,0,0,0.6);
}

.parte-2.cima{
    position: relative;
    bottom: 16px;
    left: 27px;
}

.parte-2.baixo{
    position: relative;
    top: 17px;
    right: 16px;
}

.bolder{
    font-weight: bolder;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 600px){
    .banner .table-cell{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .banner br{
        display: none;
    }
    
    .banner-title{
        font-size: 60px;
    }
}