/* BANNER */

.banner{
    position: relative;
    height: 100vh;
    color: #fff;
    background-image: url('../img/beach-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: appear 2.1s;
}

.banner::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    background: -moz-linear-gradient(-45deg, #09a9f6 0%, #ffd500 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #09a9f6 0%,#ffd500 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #09a9f6 0%,#ffd500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 1;
}

.banner .table{
    position: relative;
    z-index: 2;
}

.banner-title{
    text-shadow: 0px 0px 30px rgba(0,0,0,0.6);
    margin-bottom: 20px;
    font-size: 84px;
}

.banner-text{
    text-shadow: 0px 0px 30px rgba(0,0,0,0.6);
    margin: 0 auto 40px;
    max-width: 980px;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 600px){
    .banner .table-cell{
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner br{
        display: none;
    }

    .banner-title{
        font-size: 60px;
    }
}