/* BUTTON */

.button{
    color: white;
    font-weight: 400;
    font-size: 25px;
    background-color: rgba(0,0,0,0.0);
    border: 2.3px solid white;
    border-radius: 25px;
    padding: 10px 35px;
    transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    cursor: pointer;
    
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    /* text-transform: uppercase; */
}

.banner .button:hover{
    /* color: #09A9F6; */
    color: #88c078;
    background: #fff;
}