/* CONTENT */

.content h3{
    font-size: 30px
}

.content p{
    text-align: justify;
}

.content{
    width: 100%;
    padding: 50px 25px;
    margin: 0 auto;
    box-sizing: border-box;
}

.col{
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-half{
    width: 50%;
    padding: 0 70px;
}

@media(max-width: 600px){
    .col-half{
        width: 100%;
        padding: 0 10px;
    }
}