/* CONTATO */

.col-half{
    padding: 0 15px;
}

.coluna{
    padding: 0 30px;
    /* box-shadow: 0px 0px 26px rgba(0,0,0,0.1); */
}

.label-contato{
    font-size: 22px;
    font-weight: 600;
}

.input-contato{
    outline: none;
    margin-top: 10px;
    width: 97%;
    font-size: 15px;
    line-height: 20px;
    transition: 0.2s;
    border: 1.4px solid #88c078;
    border-radius: 5px;
    padding: 5px;
    
    margin-bottom: 10px;
}

.input-contato:focus{
    /* outline-color: #88c078;
    outline-width: 3px; */
    box-shadow: 0px 0px 7px #88c078;
}

.btn-enviar{
    float: right;
    padding: 7px 17px;
    border-radius: 20px;
    border: 3px solid #88c078;
    color: #88c078;
    background: rgba(0,0,0,0.0);
    font-size: 17px;    
    transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-enviar:hover{
    background-color: #88c078;
    color: #fff;
}

.btn-enviar:focus{
    outline: none;
}