/* FOOTER */

.footer-bottom{
    padding: 15px;
    background: #efefef;
    text-align: center;
}

.footer-bottom p{
    margin: 0;
}

.footer-nav{
    margin-bottom: 30px;
}

.footer-nav li{
    display: inline-block;
}

.footer-nav a{
    color: #222;
    display: inline-block;
    padding: 10px 25px;
}