/* GENERAL */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    /* background: #09A9F6; */
}

h1, 
h2, 
h3{
    margin: 0 0 15px;
}

a{
    text-decoration: none;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.text-blue{
    /* color: #09A9F6; */
    color: #88c078;
}

.text-yellow{
    color: #FFD500;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.table{
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}


.no-banner{
    /* padding-top: 78px; */
    padding-top: 100px;
}

.one-section{
    min-height: calc(100vh - 216px);
}

@keyframes appear{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@media (max-width: 600px){
    body.no-banner{
        padding-top: 141px;
    }
    
    .one-section{
        
        min-height: calc(100vh - 295px);
    }
    
}