/* HEADER */

.header-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    z-index: 100;
}

.header-gradient{
    background: -moz-linear-gradient(left, #3fb5e8 0%, #bcc459 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3fb5e8 0%,#bcc459 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3fb5e8 0%,#bcc459 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.header-title{
    /* padding-top: 12px; */
    padding-top: 10px;
    margin: 0;
    font-size: 26px;
    line-height: 26px;
    /* text-transform: uppercase; */
    float: left;
}

.header-menu {
    float: right;
    list-style: none;
}

.header-menu li{
    display: inline-block;
}

.header-menu a{
    display: inline-block;
    padding: 15px;
    /* color: #09A9F6; */
    color: #88c078;
    transition: 0.5s;
    border-radius: 7px;
}

@media (max-width: 600px){
    .header-title{
        float: none;
        text-align: center;
        padding-top: 0;
        
    }
    
    .header-menu {
        margin: 15px -15px 0;
        float: none;
    }
    
    .header-menu li{
        width: 20%;
        float: left;
        text-align: center;
        /* display: block; */
    }

    .header-menu a{
        font-size: 14px;
        padding: 12px
    }
}