/* HISTÓRIA */

.hist-section{
    margin-bottom: 30px;
}

.hist-item{
    text-align: left;
    padding: 35px 35px 30px;
    box-shadow: 0px 0px 26px rgba(0,0,0,0.1);
}

.hist-item p{
    text-align: justify;
}

.hist-img{
    position: relative;
    height: 80px;
    float: left;
    margin: 0 15px 0 0;
}

.hist-item:nth-of-type(even) h3{
    text-align: right;
}

.hist-item:nth-of-type(even) img{
    text-align: right;
    float: right;
    margin: 0 0 0 15px;

}