/* PRODUTOS */

.prod-bloco{
    width: 50%;
    float: left;
}

.prod-img{
    height: 100px;
    margin: 10px auto 30px;
}

.prod-list{
    list-style: none;
    margin-bottom: 20px;
}

.prod{
    padding: 25px 25px 45px; 
    box-shadow: 0px 0px 26px rgba(0,0,0,0.1);
    margin: 0 10px 20px;
    text-align: center;
}

.prod h3{
    font-size: 22px;
    margin-bottom: 25px;
}

.prod p{
    text-align: justify;
    margin-bottom: 45px;
}

.btn-item{
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #88c078;
    color: #88c078;
    background: rgba(0,0,0,0.0);
    font-size: 20px;
    transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    cursor: pointer;
}

.btn-item:hover{
    background-color: #88c078;
    color: #fff;
}

.col-half{
    padding: 0;
}