/* SEVIÇOS */

.one-section{
    min-height: calc(100vh - 231px);
}

.servico-bloco{
    padding: 25px;
    margin-bottom: 15px;
    /* padding-bottom: 15px; */
    box-shadow: 0px 0px 26px rgba(0,0,0,0.1);
}

.servico-img{
    height: 180px;   
    position: relative;
    float: left;
    margin-right: 25px;
}

.servico-titulo{
    font-size: 22px;
}

.servico-texto{
    text-align: justify;
}