.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.margem-menor{
  margin: 10px auto;
}

.div-dos-botoes{

}

button.botao{
  font-weight: 700;
  padding: 15px 20px;
  margin: 10px 5px;
  border-radius: 50px;
  background: #282c34;
  color: #ffffff;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

button.botao:hover{
  background: #ffffff;
  color: #282c34;
}

button:focus{
  outline: none;
}
