.mensagem {
  position: fixed;
  width: 200px;
  min-height: 40px;
  top: 15px;
  right: 15px;
  animation: aparecer 0.5s;
  padding: 5px 7px 14px;
  text-align: left;
  border-radius: 5px;
  transition: opacity 0.7s;
  opacity: 0.9;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.5);
  cursor: pointer;
}

.mensagem:hover{
  opacity: 1;
}

.mensagem.sucesso {
  background: rgb(8, 211, 1);
  color: #ffffff;
}

.mensagem.info {
  background: #008cff;
  color: #ffffff;
}

.mensagem.erro {
  background: #ff0000;
  color: #ffffff;
}

.mensagem.perigo {
  background: #ff9100;
  color: #ffffff;
}

.msg-titulo {
  font-size: 19px;
  font-weight: 700;
}

.msg-msg {
  font-size: 15px;
}

.barrinha {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.barrinha.sucesso {
  background: rgb(19, 93, 0);
}

.barrinha.erro {
  background: #740000;
}

.barrinha.info {
  background: #004781;
}

.barrinha.perigo {
  background: #7c4600;
  color: #ffffff;
}

@keyframes aparecer {
  from {
    /* right: -200px; */
    opacity: 0;
  }

  to {
    /* right: 15px; */
    opacity: 0.8;
  }
}
