.inputz{
  /* background:; */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4)
}

.inputz:focus{
  outline: none;
}

.inputz.obrigatorio{
  border: 2px solid red;
}

span.obrigatorio::after{
  position: absolute;
  color: red;
  font-size: 17px;
  content: ' * Obrigatório';
}
