.bloco-cotrole {
  position: fixed;

  height: 250px;
  width: 95px;

  bottom: 15px;
  right: 15px;

  background: #666;
  color: #888;
  border: 4px solid #202020;
  box-shadow: 2px 2px 15px rgba( 0, 0, 0, 0.5 );
  border-radius: 10px;

  transition: color 0.4s linear;
  
  font-size: 60px;
}

.fas{
  cursor: pointer;
  transition: color 0.4s linear;
}

.fas:hover{
  color: #ddd;
}

.selecionado{
  color: #fff;
}
