.flash {
  position: fixed;
  width: 200px;
  min-height: 40px;
  top: 115px;
  right: 15px;
  z-index: 501;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  opacity: 0;
  text-align: left;
  border-radius: 5px;
  padding: 5px 7px 14px;
  transition: opacity 0.5s;
}
/* CORES */
.flash.sucesso {
  background: rgb(8, 211, 1);
  color: #ffffff;
}

.flash.info {
  background: #008cff;
  color: #ffffff;
}

.flash.erro {
  background: #ff0000;
  color: #ffffff;
}

.flash.perigo {
  background: #ff9100;
  color: #ffffff;
}

.barrinha.sucesso {
  background: rgb(19, 93, 0);
}

.barrinha.erro {
  background: #740000;
}

.barrinha.info {
  background: #004781;
}

.barrinha.perigo {
  background: #7c4600;
  color: #ffffff;
}

.msg-titulo {
  font-size: 19px;
  font-weight: 700;
}

.msg-msg {
  font-size: 15px;
}

.barrinha {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ANIMACOES */

.fade-in {
  animation: fadein 0.5s linear forwards;
}

.fade-out {
  animation: fadeout 0.5s linear forwards;
}

.desaparecer.cinco{
  animation: esconderBarrinha 5s linear forwards;
}

.desaparecer.tres{
  animation: esconderBarrinha 3s linear;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }

@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

@keyframes esconderBarrinha { from { width: 100% } to { width: 0 } }
