.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.verde {
  background-color: #499F68;
  border-color: #499F68;
  color: white;
}

.vermelho {
  background-color: #FF220C;
  border-color: #FF220C;
  color: white;
}

.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}

.link-sem-formatacao{
  color: #ffffff;
  text-decoration: none;
}
