.inputz{
  /* background:; */
  border-radius: 5px;
  padding: 11px 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4)
}
span{
  display: block;
}

.inputz:focus{
  outline: none;
}

.inputz.obrigatorio{
  border: 1.6px solid red;
}

.lugar-do-input{
  display: flex;
  flex-flow: column;
  text-align: right;
  min-width: 300px;
}

.mensagem-erro{
  color: red;
  font-size: 10px;
}
