/*GENERAL*/

body{
  margin: 0;
  padding: 0;
  background: #ffe02f;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face{
  font-family:'Pokemon Hollow';
  src: url('../font/Pokemon-Hollow.ttf');
 }

@font-face{
  font-family:'Pokemon Solid';
  src: url('../font/Pokemon-Solid.ttf');
 }
